@font-face {
    font-family: 'Robotolight';
    src: url('../fonts/Robotolight.eot');
    src: url('../fonts/Robotolight.eot') format('embedded-opentype'),
         url('../fonts/Robotolight.woff2') format('woff2'),
         url('../fonts/Robotolight.woff') format('woff'),
         url('../fonts/Robotolight.ttf') format('truetype'),
         url('../fonts/Robotolight.svg#Robotolight') format('svg');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/RobotoThin.eot');
    src: url('../fonts/RobotoThin.eot') format('embedded-opentype'),
         url('../fonts/RobotoThin.woff2') format('woff2'),
         url('../fonts/RobotoThin.woff') format('woff'),
         url('../fonts/RobotoThin.ttf') format('truetype'),
         url('../fonts/RobotoThin.svg#RobotoThin') format('svg');
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/RobotoMedium.eot');
    src: url('../fonts/RobotoMedium.eot') format('embedded-opentype'),
         url('../fonts/RobotoMedium.woff2') format('woff2'),
         url('../fonts/RobotoMedium.woff') format('woff'),
         url('../fonts/RobotoMedium.ttf') format('truetype'),
         url('../fonts/RobotoMedium.svg#RobotoMedium') format('svg');
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueLTStdRoman.eot');
    src: url('../fonts/HelveticaNeueLTStdRoman.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLTStdRoman.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLTStdRoman.woff') format('woff'),
         url('../fonts/HelveticaNeueLTStdRoman.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLTStdRoman.svg#HelveticaNeueLTStdRoman') format('svg');
}
@font-face {
    font-family: 'HeliosCRegular';
    src: url('../fonts/HeliosCRegular.eot');
    src: url('../fonts/HeliosCRegular.eot') format('embedded-opentype'),
         url('../fonts/HeliosCRegular.woff2') format('woff2'),
         url('../fonts/HeliosCRegular.woff') format('woff'),
         url('../fonts/HeliosCRegular.ttf') format('truetype'),
         url('../fonts/HeliosCRegular.svg#HeliosCRegular') format('svg');
}
