/* colors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  position: relative;
  min-width: 1020px;
}
/*#res{
    width: 1920px;
    height: 8000px;
    background:url("@{imagePath}v1.jpg")  100% 0% no-repeat;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}*/
.dash {
  border-top: 3px solid #2976bb;
  padding-bottom: 21px;
  display: inline-block;
}
.title {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.frame_title {
  font-size: 0px;
}
/*===== MAIN =====*/
#main {
  width: 100%;
  background: url("../img/bg-img.jpg") 0% 25% no-repeat;
  background-size: cover;
}
.main_bg {
  background-color: rgba(0, 0, 0, 0.6);
}
#first {
  width: 46%;
  min-width: 870px;
  margin: 0 auto;
}
.contacts {
  width: 76%;
  height: 50px;
  margin: 0 auto;
  display: inline-block;
  float: left;
}
.contacts a {
  color: #fff;
  font-family: RobotoRegular;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  clear: both;
  height: 26px;
  padding-top: 16px;
}
.contacts a div {
  margin-left: 25px;
  margin-right: 15px;
  display: inline-block;
  float: left;
}
.contacts a p {
  display: inline-block;
}
.phone_ic {
  margin-top: -3px;
  width: 16px;
  height: 26px;
  background: url("../img/icon/phone.png") 100% 0% no-repeat;
}
.mail_ic {
  margin-top: 0px;
  width: 26px;
  height: 20px;
  background: url("../img/icon/mail.png") 100% 0% no-repeat;
}
.skype_ic {
  margin-top: -3px;
  width: 26px;
  height: 26px;
  background: url("../img/icon/skype.png") 100% 0% no-repeat;
}
.lang {
  display: inline-block;
  padding-left: 4%;
  height: 50px;
}
.lang a {
  color: #dbdbdb;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1.5px solid #dbdbdb;
  margin-right: 19px;
  margin-top: 17px;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
}
.lang a:hover {
  border: 2px solid #fefefe;
  color: #fefefe;
  font-weight: 500;
}
#nav {
  width: 100%;
  height: 55px;
  background-color: #fff;
  opacity: 0.9;
}
#nav .logo {
  width: 95px;
  height: 95px;
  background: url("../img/icon/logo1.png") 100% 0% no-repeat;
  position: absolute;
  top: -18px;
  left: -17%;
}
#nav .menu {
  width: 40%;
  min-width: 760px;
  height: 55px;
  margin: auto;
  position: relative;
}
#nav .menu a {
  font-family: Robotolight;
  font-size: 16px;
  font-weight: 300;
  line-height: 55px;
  color: #484848;
  display: inline-block;
  margin-left: 3%;
  text-transform: uppercase;
}
#nav .menu a:hover {
  color: #e51818;
}
.content {
  padding-top: 66px;
  padding-bottom: 101px;
}
.content h1 {
  width: 52%;
  color: #fff;
  font-family: "Helvetica";
  font-size: 70px;
  font-weight: 400;
  line-height: 68px;
  padding-bottom: 49px;
  text-align: center;
  margin: auto;
}
.content p {
  padding-top: 74px;
  padding-bottom: 78px;
  color: #fff;
  font-family: RobotoThin;
  font-size: 60px;
  font-weight: 100;
  line-height: 68px;
  text-align: center;
  width: 47%;
  margin: auto;
}
.content a {
  width: 320px;
  height: 70px;
  display: block;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-family: RobotoRegular;
  font-size: 22px;
  font-weight: 400;
  line-height: 76px;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
}
.dush_white {
  width: 490px;
  border-bottom: 3px solid #fff;
  margin: auto;
}
/*===== О НАС =====*/
#about_us {
  width: 100%;
  background-color: #ececec;
  padding-top: 81px;
  margin: auto;
}
#about_us h2 {
  color: #2976bb;
  margin: auto;
  font-family: HeliosCRegular;
  font-size: 60px;
  font-weight: 400;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
}
#about_us .frame_title {
  width: 14.7%;
  min-width: 389px;
  margin: auto;
  padding-bottom: 68px;
}
#about_us .frame_title .dash {
  width: 20.4%;
}
.list {
  width: 53%;
  margin: auto;
  padding-bottom: 90px;
}
.list p {
  color: #6b6b6b;
  font-family: Robotolight;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  padding-bottom: 37px;
}
.list_item .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list_item .row:first-child {
  padding-bottom: 50px;
}
.list_item .item_img {
  border-radius: 50%;
  display: inline-block;
  margin: auto;
}
.list_item .item_img img {
  width: 56px;
  height: 56px;
  margin: 23px 22px;
}
.list_item .item_content {
  width: 73%;
  height: 84px;
  display: inline-block;
  padding-left: 20px;
  padding-top: 20px;
}
.list_item .item_content h3 {
  font-family: RobotoMedium;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  text-align: left;
}
.list_item .item_content p {
  font-family: Robotolight;
  color: #656565;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  padding-bottom: 38px;
  text-align: left;
}
.individual {
  width: 50%;
}
.individual .item_img {
  background: #69d2e7;
}
.individual h3 {
  color: #69d2e7;
}
.terms {
  width: 50%;
}
.terms .item_img {
  background: #ff9a68;
}
.terms h3 {
  color: #ff9a68;
}
.prof_team {
  width: 50%;
}
.prof_team .item_img {
  background: #ff6b6b;
}
.prof_team h3 {
  color: #ff6b6b;
}
.originality {
  width: 50%;
}
.originality .item_img {
  background: #8cd982;
}
.originality h3 {
  color: #8cd982;
}
/*===== НАШИ ПРОЕКТЫ =====*/
#our_projects {
  width: 100%;
  padding-top: 84px;
}
#our_projects h2 {
  color: #2976bb;
  margin: auto;
  font-family: HeliosCRegular;
  font-size: 60px;
  font-weight: 400;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
}
#our_projects .frame_title {
  padding-bottom: 103px;
  margin: 0 auto;
  width: 35%;
  min-width: 663px;
}
#our_projects .frame_title .dash {
  width: 12%;
}
#our_projects .gallery {
  height: 960px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}
#our_projects .gallery a {
  width: 25%;
  height: 480px;
  display: inline-block;
  background-size: cover;
}
#our_projects .gallery a:first-child {
  background: url("../img/1.jpg") 0% 0% no-repeat;
}
#our_projects .gallery a:nth-child(2) {
  background: url("../img/2.jpg") 0% 0% no-repeat;
}
#our_projects .gallery a:nth-child(3) {
  background: url("../img/3.jpg") 0% 0% no-repeat;
}
#our_projects .gallery a:nth-child(4) {
  background: url("../img/4.jpg") 0% 0% no-repeat;
}
#our_projects .gallery a:nth-child(5) {
  background: url("../img/5.jpg") 0% 0% no-repeat;
}
#our_projects .gallery a:nth-child(6) {
  background: url("../img/6.jpg") 0% 0% no-repeat;
}
#our_projects .gallery a:nth-child(7) {
  background: url("../img/7.jpg") 0% 0% no-repeat;
}
#our_projects .gallery a:nth-child(8) {
  background: url("../img/8.jpg") 0% 0% no-repeat;
}
#our_projects .btn {
  padding-top: 44px;
}
#our_projects .btn a {
  width: 320px;
  height: 70px;
  border-radius: 10px;
  border: 2px solid #acacac;
  display: block;
  color: #6f6f6f;
  font-family: RobotoRegular;
  font-size: 22px;
  font-weight: 400;
  line-height: 70px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
}
/*===== КАК ЭТО РАБОТАЕТ =====*/
#how_it_work {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 91px;
}
#how_it_work h2 {
  color: #2976bb;
  margin: auto;
  font-family: HeliosCRegular;
  font-size: 60px;
  font-weight: 400;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
}
#how_it_work .frame_title {
  padding-bottom: 44px;
  margin: 0 auto;
  width: 42%;
  min-width: 800px;
}
#how_it_work .frame_title .dash {
  width: 10.1%;
}
/*--- id ячеек ---*/
#target .square {
  border: 3px solid #69d2e7;
  background: url("../img/ic-1.png") 22px 22px no-repeat;
}
#target .point_line {
  border-top: 3px solid #69d2e7;
}
#target .point_line .point {
  background-color: #69d2e7;
}
#target .vert_line {
  border-right: 3px solid #69d2e7;
}
#target h3 {
  color: #69d2e7;
}
#website .square {
  border: 3px solid #fbaf5d;
  background: url("../img/ic-3.png") 22px 22px no-repeat;
}
#website .point_line {
  border-top: 3px solid #fbaf5d;
}
#website .point_line .point {
  background-color: #fbaf5d;
}
#website .vert_line {
  border-right: 3px solid #fbaf5d;
}
#website h3 {
  color: #fbaf5d;
}
#introduction .square {
  border: 3px solid #bd8cbf;
  background: url("../img/ic-5.png") 22px 22px no-repeat;
}
#introduction .point_line {
  border-top: 3px solid #bd8cbf;
}
#introduction .point_line .point {
  background-color: #bd8cbf;
}
#introduction .vert_line {
  border-right: 3px solid #bd8cbf;
}
#introduction h3 {
  color: #bd8cbf;
}
#design h3 {
  color: #8cd982;
}
#design .vert_line {
  border-right: 3px solid #8cd982;
}
#design .point_line {
  border-top: 3px solid #8cd982;
}
#design .point_line .point {
  background-color: #8cd982;
}
#design .square {
  border: 3px solid #8cd982;
  background: url("../img/ic-2.png") 22px 22px no-repeat;
}
#testing h3 {
  color: #f57c7c;
}
#testing .vert_line {
  border-right: 3px solid #f57c7c;
}
#testing .point_line {
  border-top: 3px solid #f57c7c;
}
#testing .point_line .point {
  background-color: #f57c7c;
}
#testing .square {
  border: 3px solid #f57c7c;
  background: url("../img/ic-4.png") 35px 22px no-repeat;
}
#finish h3 {
  color: #8ae0cb;
}
#finish .vert_line {
  border-right: 3px solid #8ae0cb;
}
#finish .point_line {
  border-top: 3px solid #8ae0cb;
}
#finish .point_line .point {
  background-color: #8ae0cb;
}
#finish .square {
  border: 3px solid #8ae0cb;
  background: url("../img/ic-6.png") 22px 22px no-repeat;
}
#outline {
  width: 54%;
  min-width: 1002px;
  margin: auto;
  font-size: 0px;
  vertical-align: top;
  padding-top: 55px;
}
.left_flat {
  width: 444px;
  margin: auto;
  display: inline-block;
}
.left_flat .cell {
  padding-top: 100px;
}
.left_flat .cell:first-child {
  padding-top: 0px;
}
.left_flat .line1 {
  margin: auto;
  font-size: 0px;
}
.left_flat .line2 {
  margin: auto;
}
.left_flat .square {
  width: 150px;
  height: 150px;
  display: inline-block;
  border: 3px solid #000;
}
.left_flat .point_line {
  width: 272px;
  border-top: 3px solid #000;
  display: inline-block;
  position: relative;
  padding-bottom: 75px;
}
.left_flat .point_line .point {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: -11px;
  right: -11px;
}
.left_flat .vert_line {
  height: 140px;
  border-right: 3px solid #000;
  display: inline-block;
  padding-left: 75px;
}
.left_flat .txt {
  width: 271px;
  text-align: left;
  padding-top: 46px;
  padding-left: 10px;
  display: inline-block;
}
.left_flat .txt h3 {
  font-family: RobotoMedium;
  line-height: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.left_flat .txt p {
  color: #565656;
  font-size: 16px;
  font-weight: 300;
  font-family: Robotolight;
}
.right_flat {
  width: 444px;
  display: inline-block;
  vertical-align: top;
}
.right_flat .cell {
  padding-top: 40px;
}
.right_flat .cell:first-child {
  padding-top: 0px;
}
.right_flat .line1 {
  font-size: 0;
  padding-top: 65px;
}
.right_flat .line2 {
  font-size: 0;
  padding-left: 20px;
}
.right_flat .txt {
  width: 271px;
  text-align: right;
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 46px;
  margin-left: 95px;
}
.right_flat .txt h3 {
  font-family: RobotoMedium;
  line-height: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.right_flat .txt p {
  color: #565656;
  font-size: 16px;
  font-weight: 300;
  font-family: Robotolight;
}
.right_flat .vert_line {
  height: 140px;
  border-right: 3px solid #000;
  display: inline-block;
  font-size: 0;
  vertical-align: bottom;
}
.right_flat .point_line {
  width: 272px;
  border-top: 3px solid #000;
  display: inline-block;
  position: relative;
  padding-bottom: 75px;
}
.right_flat .point_line .point {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: -11px;
  left: -11px;
}
.right_flat .square {
  width: 150px;
  height: 150px;
  border: 3px solid #000;
  display: inline-block;
}
.center_flat {
  width: 114px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
}
.center_flat .dotted_r {
  width: 233px;
  border-bottom: 3px dashed #b3b4b6;
  padding-top: 224px;
  margin-left: 29px;
  transform: rotate(54deg);
}
.center_flat .dotted_l {
  width: 223px;
  border-bottom: 3px dashed #b3b4b6;
  padding-top: 168px;
  margin-left: -119px;
  transform: rotate(-51deg);
}
/*===== НАШИ ЦЕНЫ =====*/
#price {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 91px;
  background: url("../img/your-screen.jpg") 0% 25% no-repeat;
  background-size: cover;
}
#price h2 {
  color: #2976bb;
  margin: auto;
  font-family: HeliosCRegular;
  font-size: 60px;
  font-weight: 400;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
#price .frame_title {
  padding-bottom: 36px;
  margin: 0 auto;
  width: 31.5%;
  min-width: 600px;
}
#price .frame_title .dash {
  width: 14.5%;
  border-top: 3px solid #fff;
}
#price_content {
  width: 52%;
  min-width: 1020px;
  margin: auto;
}
#price_content .price_title {
  width: 100%;
  border-radius: 10px 10px 0 0;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.25);
}
#price_content .price_title h3 {
  color: #fff;
  font-family: RobotoRegular;
  font-size: 36px;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  text-align: center;
}
#price_content .money {
  width: 81.28%;
  margin: auto;
}
#price_content .money p {
  color: #fff;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  line-height: 68px;
  text-align: center;
}
#price_content .offer_list {
  width: 100%;
  margin: auto;
  border-radius: 0 0 10px 10px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 18px 10px 10px 32px;
}
#price_content .offer_list ul {
  list-style-type: none;
  list-style: url("../img/icon/check.png") outside;
  line-height: 170%;
}
#price_content .offer_list ul .off {
  list-style: url("../img/icon/cross.png") outside;
  color: #b4b4b4;
}
#price_content .offer_list li {
  font-family: regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  padding-bottom: 10px;
}
#price_content .start,
#price_content .mid,
#price_content .full,
#price_content .pro {
  width: 23%;
  display: inline-block;
  margin-right: 20px;
}
#price_content .start .money {
  background-color: #68bfd5;
}
#price_content .mid .money {
  background-color: #8cd982;
}
#price_content .full .money {
  background-color: #ff9a68;
}
#price_content .pro {
  margin-right: 0;
}
#price_content .pro .money {
  background-color: #f57c7c;
}
/*===== form-mini =====*/
#form_mini {
  width: 100%;
  background-color: #2c2f33;
  padding-top: 30px;
  padding-bottom: 30px;
}
#form_mini div {
  width: 52%;
  margin: auto;
}
#form_mini div input {
  width: 30%;
  height: 70px;
  border-radius: 10px;
  border: none;
}
#form_mini div input[name="user"],
#form_mini div input[name="usertel"] {
  background-color: #fff;
  color: #565656;
  font-family: Robotolight;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin-right: 20px;
  vertical-align: top;
  padding-left: 30px;
}
#form_mini div input[type="submit"] {
  background-color: #ff6b6b;
  color: #fff;
  font-family: RobotoRegular;
  font-size: 22px;
  font-weight: 400;
  line-height: 76px;
  margin-right: 0px;
  padding-left: 0px;
}
/*===== другие услуги =====*/
#other {
  width: 100%;
  margin: auto;
  background-color: #ececec;
  padding-top: 90px;
}
#other h2 {
  color: #2976bb;
  margin: auto;
  font-family: HeliosCRegular;
  font-size: 60px;
  font-weight: 400;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
}
#other .frame_title {
  padding-bottom: 37px;
  margin: auto;
  width: 37.3%;
  min-width: 709px;
}
#other .frame_title .dash {
  width: 12.1%;
}
#services {
  width: 100%;
  margin: auto;
  padding-bottom: 86px;
}
#services .row-1,
#services .row-2 {
  width: 52%;
  margin: auto;
  min-width: 800px;
}
#services .services {
  width: 33%;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
#services .services .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #3c92ca;
  margin: auto;
}
#services .services .circle2 {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  border: 2px solid #3c92ca;
  margin: 6px;
}
#services .services h4 {
  color: #565656;
  font-family: Robotolight;
  font-size: 22px;
  line-height: 20px;
  font-weight: 300;
  padding-top: 22px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}
#services .services .strip {
  border-top: 3px solid #3c92ca;
  width: 150px;
  padding-bottom: 10px;
  margin: auto;
}
#services .services p {
  font-family: RobotoRegular;
  font-weight: 500;
  color: #565656;
  font-size: 22px;
  line-height: 20px;
  text-align: center;
}
#services .seo .circle2 {
  background: url("../img/icon/ic-7.png") 30px 20px no-repeat;
}
#services .ad .circle2 {
  background: url("../img/icon/ic-8.png") 40px 25px no-repeat;
}
#services .smm .circle2 {
  background: url("../img/icon/ic-9.png") 30px 25px no-repeat;
}
#services .print_product .circle2 {
  background: url("../img/icon/ic-10.png") 30px 25px no-repeat;
}
#services .firm_logo .circle2 {
  background: url("../img/icon/ic-11.png") 30px 23px no-repeat;
}
#services .firm_style .circle2 {
  background: url("../img/icon/ic-12.png") 27px 24px no-repeat;
}
/*===== НАША КОМАНДА =====*/
#our_team {
  width: 100%;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 89px;
}
#our_team h2 {
  color: #2976bb;
  margin: auto;
  font-family: HeliosCRegular;
  font-size: 60px;
  font-weight: 400;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
}
#our_team .frame_title {
  padding-bottom: 37px;
  margin: auto;
  width: 37.7%;
  min-width: 716px;
}
#our_team .frame_title .dash {
  width: 12%;
}
#our_team .team {
  width: 63%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
}
#our_team .team .worker {
  width: 22.48%;
  min-width: 235px;
  padding-bottom: 30px;
}
#our_team .team .worker .foto {
  width: 235px;
  height: 293px;
  border: 2px solid #cccccc;
}
#our_team .team .worker .foto img {
  width: 220px;
  height: 275px;
  margin: 6px 6px;
  text-align: center;
}
#our_team .team .worker div {
  width: 203px;
  height: 120px;
  color: #565656;
  text-transform: uppercase;
}
#our_team .team .worker div h4 {
  font-family: Robotolight;
  line-height: 20px;
  font-size: 22px;
  font-weight: 300;
  padding-top: 19px;
  padding-bottom: 12px;
}
#our_team .team .worker div h5 {
  font-family: RobotoMedium;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 8px;
}
#our_team .team .worker div p {
  font-family: Robotolight;
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
}
/*===== FORM =====*/
#form {
  width: 100%;
  background: url("../img/bg-img.jpg") 0% 25% no-repeat;
  background-size: cover;
}
#form .main_bg {
  padding-top: 90px;
  padding-bottom: 90px;
}
#form h2 {
  color: #2976bb;
  margin: auto;
  font-family: HeliosCRegular;
  font-size: 60px;
  font-weight: 400;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
#form .frame_title {
  padding-bottom: 36px;
  margin: 0 auto;
  width: 49.1%;
  min-width: 935px;
}
#form .frame_title .dash {
  width: 9.4%;
  border-top: 3px solid #fff;
}
#form .form {
  width: 36.5%;
  min-width: 150px;
  margin: auto;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 47px 20px;
}
#form .form input,
#form .form textarea {
  border-radius: 10px;
  background-color: #fff;
  border: none;
  width: 48.1%;
  height: 70px;
}
#form .form input[name="name"] {
  margin-right: 20px;
}
#form .form input[name="name"],
#form .form input[name="email"],
#form .form textarea {
  color: #565656;
  font-family: Robotolight;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  vertical-align: top;
  padding-left: 30px;
  margin-bottom: 21px;
}
#form .form textarea {
  width: 100%;
  height: 140px;
  line-height: 75px;
}
#form .form input[type="submit"] {
  background-color: #ff6b6b;
  color: #fff;
  font-family: RobotoRegular;
  font-size: 22px;
  font-weight: 400;
  line-height: 76px;
  margin-top: 20px;
  margin-left: 25%;
}
/*===== MAP =====*/
#map iframe {
  width: 100%;
  height: 557px;
}
/*===== FOOTER =====*/
footer {
  width: 100%;
  height: 160px;
  background-color: #343739;
}
/*# sourceMappingURL=style.css.map */