
@regular:RobotoRegular;
@light:Robotolight;
@thin:RobotoThin;
@medium:RobotoMedium;
@helios_cr:HeliosCRegular;

/* colors */
@color:#fff;
@color_grey:#ececec;
@target:#69d2e7;
@design:#8cd982;
@introduction:#bd8cbf;
@website:#fbaf5d;
@testing:#f57c7c;
@finish:#8ae0cb;


@imagePath: '../img/';
@iconPath: '../img/icon/';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body{
    position: relative;
    min-width: 1020px;
}
/*#res{
    width: 1920px;
    height: 8000px;
    background:url("@{imagePath}v1.jpg")  100% 0% no-repeat;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}*/

.dash2(){
    display: inline-block;
    border-top: 3px solid #2976bb;
    padding-bottom: 21px;
}
.dash{
    .dash2;
    display: inline-block;
}
.title{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.frame_title{
    font-size: 0px;
}

/*===== MAIN =====*/
#main{
    width: 100%;
    background:url("@{imagePath}bg-img.jpg")  0% 25% no-repeat;
    background-size: cover;

}
.main_bg{
    background-color: rgba(0, 0, 0, 0.6);
}
#first{
    width: 46%;
    min-width: 870px;
    margin: 0 auto;
}
.contacts{
    width: 76%;
    height: 50px;
    margin: 0 auto;
    display: inline-block;
    float:left;
    a{
        color: @color;
        font-family: @regular;
        font-size: 18px;
        font-weight: 400;
        display: inline-block;
        clear:both;
        height: 26px;
        padding-top: 16px;
        div{
            margin-left: 25px;
            margin-right: 15px;
            display: inline-block;
            float: left;
        }
        p{
            display: inline-block;
        }
    }
}
.phone_ic{
    margin-top: -3px;
    width: 16px;
    height: 26px;
    background:url("@{iconPath}phone.png") 100% 0% no-repeat;
}
.mail_ic{
    margin-top: 0px;
    width: 26px;
    height: 20px;
    background:url("@{iconPath}mail.png") 100% 0% no-repeat;
}
.skype_ic{
    margin-top: -3px;
    width: 26px;
    height: 26px;
    background:url("@{iconPath}skype.png") 100% 0% no-repeat;
}

.lang{
    display: inline-block;
    padding-left: 4%;
    height: 50px;
    a{
        color:#dbdbdb;
        display: inline-block;
        width: 35px;
        height: 35px;
        border: 1.5px solid #dbdbdb;
        margin-right: 19px;
        margin-top: 17px;
        font-size: 18px;
        font-weight: 400;
        line-height: 35px;
        text-align: center;
    }
    a:hover{
        border: 2px solid #fefefe;
        color: #fefefe;
        font-weight: 500;
    }
}

#nav{
    width: 100%;
    height: 55px;
    background-color: @color;
    opacity: 0.9;
    .logo{
        width: 95px;
        height: 95px;
        background:url("@{iconPath}logo1.png") 100% 0% no-repeat;
        position: absolute;
        top: -18px;
        left:-17%;
    }
    .menu{
        width: 40%;
        min-width: 760px;
        height: 55px;
        margin:auto;
        position:relative;
        a{
            font-family: @light;
            font-size: 16px;
            font-weight: 300;
            line-height: 55px;
            color: #484848;
            display: inline-block;
            margin-left: 3%;
            text-transform: uppercase;
        }
        a:hover{
            color: #e51818;
        }
    }
}
.content{
    padding-top:66px;
    padding-bottom:101px;
    h1{
        width: 52%;
        color: @color;
        font-family: "Helvetica";
        font-size: 70px;
        font-weight: 400;
        line-height: 68px;
        padding-bottom: 49px;
        text-align: center;
        margin: auto;
    }
    p{
        padding-top:74px;
        padding-bottom: 78px;
        color: @color;
        font-family: @thin;
        font-size: 60px;
        font-weight: 100;
        line-height: 68px;
        text-align: center;
        width: 47%;
        margin: auto;
    }
    a{
        width: 320px;
        height: 70px;
        display: block;
        border-radius: 10px;
        border: 2px solid @color;
        background-color: rgba(255, 255, 255, 0.3);
        color: @color;
        font-family: @regular;
        font-size: 22px;
        font-weight: 400;
        line-height: 76px;
        text-align: center;
        margin:  auto;
        text-transform: uppercase;
    }
}
.dush_white{
    width: 490px;
    border-bottom: 3px solid @color;
    margin: auto;
}

/*===== О НАС =====*/
#about_us{
    width: 100%;
    background-color: @color_grey;
    padding-top: 81px;
    margin:auto;
    h2{
        .h;
    }
    .frame_title{
        width: 14.7%;
        min-width: 389px;
        margin:auto;
        padding-bottom: 68px;
        .dash{
            width: 20.4%;
        }
    }
}
.h(){
    color: #2976bb;
    margin: auto;
    font-family: @helios_cr;
    font-size: 60px;
    font-weight: 400;
    line-height: 68px;
    text-align: center;
    text-transform: uppercase;
}
.list{
    width: 53%;
    margin: auto;
    padding-bottom: 90px;
    p{
        color: #6b6b6b;
        font-family: @light;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        text-align: center;
        padding-bottom: 37px;
    }
}
.list_item{
    .row{
        display: flex;
        flex-direction:row;
        justify-content:space-between;

    }
    .row:first-child{
        padding-bottom: 50px;
    }
    .item_img{
        border-radius: 50%;
        display: inline-block;
        margin:auto;

        img{
            width: 56px;
            height: 56px;
            margin: 23px 22px;
        }
    }
    .item_content{
        width: 73%;
        height: 84px;
        display: inline-block;
        padding-left: 20px;
        padding-top: 20px;
        h3{
            font-family: @medium;
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            text-transform: uppercase;
            text-align:left;
        }
        p{
            font-family: @light;
            color: #656565;
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;
            padding-bottom: 38px;
            text-align:left;
        }
    }
}
.individual{
    width: 50%;
    .item_img{
        background: #69d2e7;
    }
    h3{
        color: #69d2e7;
    }
}
.terms{
    width: 50%;
    .item_img{
        background: #ff9a68;
    }
    h3{
        color: #ff9a68;
    }
}
.prof_team{
    width: 50%;
    .item_img{
        background: #ff6b6b;
    }
    h3{
        color: #ff6b6b;
    }
}
.originality{
    width: 50%;
    .item_img{
        background: #8cd982;
    }
    h3{
        color: #8cd982;
    }
}


/*===== НАШИ ПРОЕКТЫ =====*/
#our_projects{
    width: 100%;
    padding-top: 84px;
    h2{
        .h;
    }
    .frame_title{
        padding-bottom: 103px;
        margin: 0 auto;
        width: 35%;
        min-width:663px;
        .dash{
            width: 12%;
        }
    }
    .gallery{
        height: 960px;
        width: 100%;
        display: flex;
        flex-direction:row;
        justify-content:space-between;
        flex-wrap:wrap;
        align-content:space-between;
        a{
            width: 25%;
            height: 480px;
            display: inline-block;
            background-size: cover;
        }
        a:first-child{
            background: url("@{imagePath}1.jpg")  0% 0% no-repeat;
        }
        a:nth-child(2){
            background: url("@{imagePath}2.jpg")  0% 0% no-repeat;
        }
        a:nth-child(3){
            background: url("@{imagePath}3.jpg")  0% 0% no-repeat;
        }
        a:nth-child(4){
            background: url("@{imagePath}4.jpg")  0% 0% no-repeat;
        }
        a:nth-child(5){
            background: url("@{imagePath}5.jpg")  0% 0% no-repeat;
        }
        a:nth-child(6){
            background: url("@{imagePath}6.jpg")  0% 0% no-repeat;
        }
        a:nth-child(7){
            background: url("@{imagePath}7.jpg")  0% 0% no-repeat;
        }
        a:nth-child(8){
            background: url("@{imagePath}8.jpg")  0% 0% no-repeat;
        }
    }
    .btn{
        padding-top: 44px;
        a{
            width: 320px;
            height: 70px;
            border-radius: 10px;
            border: 2px solid #acacac;
            display: block;
            color: #6f6f6f;
            font-family: @regular;
            font-size: 22px;
            font-weight: 400;
            line-height: 70px;
            text-transform: uppercase;
            text-align: center;
            margin: auto;

        }
    }
}

/*===== КАК ЭТО РАБОТАЕТ =====*/
#how_it_work{
    width: 100%;
    padding-top: 90px;
    padding-bottom: 91px;
    h2{
        .h;
    }
    .frame_title{
        padding-bottom: 44px;
        margin: 0 auto;
        width: 42%;
        min-width:800px;
        .dash{
            width: 10.1%;
        }
    }
}
/*--- id ячеек ---*/
#target{
    .square{
        border: 3px solid @target;
        background: url("@{imagePath}ic-1.png")  22px 22px no-repeat;
    }
    .point_line{
        border-top: 3px solid @target;
        .point{
            background-color: @target;
        }
    }
    .vert_line{
        border-right: 3px solid @target;
    }
    h3{
        color: @target;
    }
}
#website{
    .square{
        border: 3px solid @website;
        background: url("@{imagePath}ic-3.png")  22px 22px no-repeat;
    }
    .point_line{
        border-top: 3px solid @website;
        .point{
            background-color: @website;
        }
    }
    .vert_line{
        border-right: 3px solid @website;
    }
    h3{
        color: @website;
    }
}
#introduction{
    .square{
        border: 3px solid @introduction;
        background: url("@{imagePath}ic-5.png")  22px 22px no-repeat;
    }
    .point_line{
        border-top: 3px solid @introduction;
        .point{
            background-color: @introduction;
        }
    }
    .vert_line{
        border-right: 3px solid @introduction;
    }
    h3{
        color: @introduction;
    }
}
#design{
    h3{
        color: @design;
    }
    .vert_line{
        border-right: 3px solid @design;
    }
    .point_line{
        border-top: 3px solid @design;
        .point{
            background-color: @design;
        }
    }
    .square{
        border: 3px solid @design;
        background: url("@{imagePath}ic-2.png")  22px 22px no-repeat;
    }
}
#testing{
    h3{
        color: @testing;
    }
    .vert_line{
        border-right: 3px solid @testing;
    }
    .point_line{
        border-top: 3px solid @testing;
        .point{
            background-color: @testing;
        }
    }
    .square{
        border: 3px solid @testing;
        background: url("@{imagePath}ic-4.png")  35px 22px no-repeat;
    }
}
#finish{
    h3{
        color: @finish;
    }
    .vert_line{
        border-right: 3px solid @finish;
    }
    .point_line{
        border-top: 3px solid @finish;
        .point{
            background-color: @finish;
        }
    }
    .square{
        border: 3px solid @finish;
        background: url("@{imagePath}ic-6.png")  22px 22px no-repeat;
    }
}

#outline{
    width: 54%;//1002px
    min-width: 1002px;
    margin: auto;
    font-size: 0px;
    vertical-align: top;
    padding-top: 55px;
}
.left_flat{
    width: 444px; //444px
    margin: auto;
    display: inline-block;
    .cell{
        padding-top: 100px;
    }
    .cell:first-child{
        padding-top: 0px;
    }
    .line1{
        margin: auto;
        font-size: 0px;
    }
    .line2{
        margin: auto;
    }
    .square{
        width: 150px;
        height: 150px;
        display: inline-block;
        border: 3px solid #000;
    }
    .point_line{
        width: 272px;
        border-top: 3px solid #000;
        display: inline-block;
        position:relative;
        padding-bottom: 75px;
        .point{
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: #000;
            position: absolute;
            top: -11px;
            right: -11px;
        }
    }
    .vert_line{
        height: 140px;
        border-right: 3px solid #000;
        display: inline-block;
        padding-left: 75px;
    }
    .txt{
        width: 271px;
        text-align:left;
        padding-top: 46px;
        padding-left: 10px;
        display: inline-block;
        h3{
            font-family: @medium;
            line-height: 20px;
            color: #000;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
        }
        p{
            color: #565656;
            font-size: 16px;
            font-weight: 300;
            font-family: @light;
        }
    }
}
.right_flat{
    width: 444px; //444px
    display: inline-block;
    vertical-align: top;
    .cell{
        padding-top: 40px;
    }
    .cell:first-child{
        padding-top: 0px;
    }
    .line1{
        font-size: 0;
        padding-top: 65px;
    }
    .line2{
        font-size: 0;
        padding-left: 20px;
    }
    .txt{
        width: 271px;
        text-align:right;
        display: inline-block;
        padding-right: 10px;
        padding-bottom: 46px;
        margin-left: 95px;
        h3{
            font-family: @medium;
            line-height: 20px;
            color: #000;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
        }
        p{
            color: #565656;
            font-size: 16px;
            font-weight: 300;
            font-family: @light;
        }
    }
    .vert_line{
        height: 140px;
        border-right: 3px solid #000;
        display: inline-block;
        font-size: 0;
        vertical-align:bottom;
    }
    .point_line{
        width: 272px;
        border-top: 3px solid #000;
        display: inline-block;
        position: relative;
        padding-bottom: 75px;
        .point{
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: #000;
            position: absolute;
            top: -11px;
            left: -11px;
        }
    }
    .square{
        width: 150px;
        height: 150px;
        border: 3px solid #000;
        display: inline-block;
    }
}
.center_flat{
    width: 114px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    .dotted_r{
        width: 233px;
        border-bottom: 3px dashed #b3b4b6;
        padding-top: 224px;
        margin-left: 29px;
        transform: rotate(54deg);
    }
    .dotted_l{
        width: 223px;
        border-bottom: 3px dashed #b3b4b6;
        padding-top: 168px;
        margin-left: -119px;
        transform: rotate(-51deg);
    }
}

/*===== НАШИ ЦЕНЫ =====*/
#price{
    width: 100%;
    padding-top: 90px;
    padding-bottom: 91px;
    background: url("@{imagePath}your-screen.jpg")  0% 25% no-repeat;
    background-size:cover;
    h2{
        .h;
        color:@color;
    }
    .frame_title{
        padding-bottom: 36px;
        margin: 0 auto;
        width: 31.5%;
        min-width:600px;
        .dash{
            width: 14.5%;
            border-top: 3px solid @color;
        }
    }
}
#price_content{
    width: 52%;//1000px
    min-width: 1020px;
    margin:auto;
    .price_title{
        width: 100%;
        border-radius: 10px 10px 0 0;
        border: 1px solid @color;
        background-color: rgba(255, 255, 255, 0.25);
        h3{
            color: @color;
            font-family: @regular;
            font-size: 36px;
            font-weight: 400;
            line-height: 68px;
            text-transform: uppercase;
            text-align: center;
        }
    }
    .money{
        width: 81.28%;//191px
        margin: auto;
        p{
            color: @color;
            font-family: Roboto;
            font-size: 28px;
            font-weight: 400;
            line-height: 68px;
            text-align: center;
        }
    }
    .offer_list{
        width: 100%;
        margin: auto;
        border-radius: 0 0 10px 10px;
        border: 1px solid @color;
        background-color: rgba(255, 255, 255, 0.25);
        padding:18px 10px 10px 32px;
        ul{
            list-style-type: none;
            list-style: url("@{iconPath}check.png")outside; 
            line-height: 170%;
            .off{
                list-style: url("@{iconPath}cross.png")outside;
                color: #b4b4b4;
            }
        }
        li{
            font-family: regular;
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            color: @color;
            padding-bottom: 10px;
        }

    }
    .start, .mid, .full, .pro{
        width: 23%;//235px
        display: inline-block;
        margin-right: 20px;
    }
    .start{
        .money{
            background-color: #68bfd5;
        }
    }
    .mid{
        .money{
            background-color: #8cd982;
        }
    }
    .full{
        .money{
            background-color: #ff9a68;
        }
    }
    .pro{
        margin-right: 0;
        .money{
            background-color: #f57c7c;
        }
    }
}

/*===== form-mini =====*/
#form_mini{
    width: 100%;
    background-color: #2c2f33;
    padding-top: 30px;
    padding-bottom: 30px;
    div{
        width: 52%; //1000px
        margin:auto;
        input{
            width: 30%;//320px
            height: 70px;
            border-radius: 10px;
            border:none;
        }
        input[name="user"],input[name="usertel"]{
            background-color: @color;
            color: #565656;
            font-family: @light;
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;
            margin-right: 20px;
            vertical-align: top;
            padding-left: 30px;
        }
        input[type="submit"]{
            background-color: #ff6b6b;
            color: @color;
            font-family: @regular;
            font-size: 22px;
            font-weight: 400;
            line-height: 76px;
            margin-right: 0px;
            padding-left: 0px;
        }
    }
}

/*===== другие услуги =====*/
#other{
    width: 100%;
    margin:auto;
    background-color: @color_grey;
    padding-top: 90px;
    h2{
        .h;
    }
    .frame_title{
        padding-bottom: 37px;
        margin:auto;
        width: 37.3%;//701px
        min-width:709px;
        .dash{
            width: 12.1%;
        }
    }
}
#services{
    width: 100%;
    margin:auto;
    padding-bottom: 86px;
    .row-1,.row-2{
        width: 52%;
        margin:auto;
        min-width: 800px;
    }
    .services{
        width: 33%;
        display: inline-block;
        font-size:0;
        vertical-align: top;
        margin:auto;
        padding-top: 20px;
        padding-bottom: 20px;
        .circle{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 1px solid #3c92ca;
            margin:auto;
        }
        .circle2{
            width: 135px;
            height: 135px;
            border-radius: 50%;
            border: 2px solid #3c92ca;
            margin:6px;
        }
        h4{
            color: #565656;
            font-family: @light;
            font-size: 22px;
            line-height: 20px;
            font-weight: 300;
            padding-top: 22px;
            padding-bottom: 10px;
            text-align: center;
            text-transform: uppercase;
        }
        .strip{
            border-top: 3px solid #3c92ca;
            width: 150px;
            padding-bottom: 10px;
            margin: auto;
        }
        p{
            font-family: @regular;
            font-weight: 500;
            color: #565656;
            font-size: 22px;
            line-height: 20px;
            text-align: center;
        }
    }
    .seo{
        .circle2{
            background: url("@{iconPath}ic-7.png")  30px 20px no-repeat;
        }
    }
    .ad{
        .circle2{
            background: url("@{iconPath}ic-8.png")  40px 25px no-repeat;
        }
    }
    .smm{
        .circle2{
            background: url("@{iconPath}ic-9.png")  30px 25px no-repeat;
        }
    }
    .print_product{
        .circle2{
            background: url("@{iconPath}ic-10.png")  30px 25px no-repeat;
        }
    }
    .firm_logo{
        .circle2{
            background: url("@{iconPath}ic-11.png")  30px 23px no-repeat;
        }
    }
    .firm_style{
        .circle2{
            background: url("@{iconPath}ic-12.png")  27px 24px no-repeat;
        }
    }
}

/*===== НАША КОМАНДА =====*/
#our_team{
    width: 100%;
    margin:auto;
    padding-top: 90px;
    padding-bottom: 89px;
    h2{
        .h;
    }
    .frame_title{
        padding-bottom: 37px;
        margin:auto;
        width: 37.7%;//710px
        min-width:716px;
        .dash{
            width: 12%;
        }
    }
    .team{
        width: 63%;//1045px
        margin:auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-between;
        .worker{
            width: 22.48%;//235px
            min-width:235px;
            padding-bottom: 30px;
            .foto{
                width: 235px;
                height: 293px;
                border: 2px solid #cccccc;
                img{
                    width: 220px;
                    height: 275px;
                    margin: 6px 6px;
                    text-align: center;
                }
            }
            div{
                width: 203px;
                height: 120px;
                color: #565656;
                text-transform: uppercase;
                h4{
                    font-family: @light;
                    line-height: 20px;
                    font-size: 22px;
                    font-weight: 300;
                    padding-top: 19px;
                    padding-bottom: 12px;

                }
                h5{
                    font-family: @medium;
                    font-size: 16px;
                    font-weight: 500;
                    padding-bottom: 8px;
                }
                p{
                    font-family: @light;
                    font-size: 16px;
                    font-weight: 300;
                    text-transform: none;
                }
            }

        }
    }
}

/*===== FORM =====*/
#form{
    width: 100%;
    background:url("@{imagePath}bg-img.jpg")  0% 25% no-repeat;
    background-size: cover;

    .main_bg{
        padding-top: 90px;
        padding-bottom: 90px;
    }
    h2{
        .h;
        color:@color;
    }
    .frame_title{
        padding-bottom: 36px;
        margin: 0 auto;
        width: 49.1%;//905
        min-width:935px;
        .dash{
            width: 9.4%;
            border-top: 3px solid @color;
        }
    }
    .form{
        width: 36.5%; //700px
        min-width: 150px;
        margin:auto;
        border-radius: 10px;
        border: 2px solid #ffffff;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 47px 20px;
        input,textarea{
            border-radius: 10px;
            background-color: @color;
            border:none;
            width: 48.1%;//320px
            height: 70px;
        }
        input[name="name"]{
            margin-right: 20px;
        }
        input[name="name"],input[name="email"], textarea{
            color: #565656;
            font-family: @light;
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;
            vertical-align: top;
            padding-left: 30px;
            margin-bottom: 21px;
        }
        textarea{
            width: 100%;//660
            height: 140px;
            line-height: 75px;
        }
        input[type="submit"]{
            background-color: #ff6b6b;
            color: @color;
            font-family: @regular;
            font-size: 22px;
            font-weight: 400;
            line-height: 76px;
            margin-top: 20px;
            margin-left: 25%;
        }
    }
}

/*===== MAP =====*/
#map{
    iframe{
        width: 100%;
        height: 557px;
    }
}
/*===== FOOTER =====*/
footer{
    width: 100%;
    height: 160px;
    background-color: #343739;
}